@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background-color: #818181;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-left: 1px solid rgb(144, 144, 144);
  border-right: 1px solid rgb(144, 144, 144);
  padding: 15px;
}

.NavLink {
  font-size: 13px;
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
  fill: currentColor;
}

.NavLink--active {
  color: rgb(40, 218, 179);
}

nav {
  background-color: #2a2a2a;
  border-bottom: solid 1px #53dce9;
  padding: 30px;
  color: #ffffff;
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.SearchForm-button {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 0;
  background-image: url('./components/Searchbar/search_logo.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchForm-button:hover {
  opacity: 1;
}

.SearchForm-button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchForm-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid rgb(13, 228, 174);
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.SearchForm-input::placeholder {
  font: inherit;
  font-size: 13px;
}

.routerList {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.routerList:not(:last-child) {
  margin-right: 30px;
}

.routerContainer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.homepageMovieTitle {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 5px;
}

.moviesContainer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.homepageMoviesHeader {
  font-size: 18px;
}

.homepageMoviesList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.ImageGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.ImageGalleryItem-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItem-image:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.rate {
  background: linear-gradient(
    90deg,
    rgba(28, 194, 227, 1) 0%,
    rgba(29, 191, 113, 1) 100%
  );
  color: white;
  font-weight: 700;
  padding: 3px;
  font-size: 12px;
}

.singleMovieContainer {
  display: flex;
}

.singleMovieDescription {
  margin-left: 20px;
  width: 400px;
}

.singleMovieDescription span {
  margin-right: 15px;
}

.genres {
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(28, 194, 227, 1) 0%,
    rgba(29, 191, 113, 1) 100%
  );
  padding: 5px;
  width: 100%;
  display: inline;
}
.movieName {
  font-size: 25px;
  margin-bottom: 30px;
}

.buttonBack {
  display: inline-block;
  width: 48px;
  height: 28px;
  border: 0;
  background-image: url('./arrow_back.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.buttonBack:hover {
  opacity: 1;
}

.castReviews {
  display: flex;
}

.fallback {
  font-size: 18px;
  color: #4f908b;
}

.castLink {
  display: block;
  font-size: 13px;
  color: rgb(0, 173, 130);
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-weight: 600;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}

.castLink:hover {
  background: linear-gradient(
    90deg,
    rgba(28, 194, 227, 1) 0%,
    rgba(29, 191, 113, 1) 100%
  );
  color: white;
}

td {
  margin: 5px;
}

.actorName {
  background-color: rgb(204, 226, 207);

  padding-left: 5px;
}

.character {
  background-color: rgb(220, 253, 242);

  padding-left: 5px;
}

.reviewsAvatar {
  border-radius: 50%;
  width: 80px;
  margin-top: 10px;
}

.reviewDescription {
  font-size: 12px;
  width: 600px;
  display: block;
  margin-top: 10px;
  margin-bottom: 50px;
}
